body{
    display: grid;
}
.menuFlex{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: auto 0 auto left;
    text-align: center;
        
}
    
.menuFlex a{
    text-decoration: none;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 20px;
    flex-grow: 1;
}
    
    
.menuFlex a:hover{
    background-color: rgb(180, 197, 28);
}

.pizza{
    width: 700px;
    border-radius: 25px;
    margin: 300px;
    margin-top: 50px;
    margin-bottom: 1px;
}
.titulo{
    font-family: "Sarcolenta";
    text-align: center;
    padding-top: 1%;
}
article{
    margin-top: 15px;
    font-size: 1.5em;
    text-align: justify;
    column-count: 3;
    column-gap: 5em;
}
.cursiva{
    font-style: italic;
}
.menuGrind{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: auto;
}
footer{
    background-color: #aabd03;
}
ul{
    list-style: none;
    text-align: center;
    justify-content: space-around;
    
}
.titu{
    font-family: "Sarcolenta";
}
.menuGrind a{
    text-decoration: none;
    background-color: rgb(218, 218, 0);
    color: rgb(255, 255, 255);
    padding: 20px;
}
form {
    width: 1050px;
    margin: auto;
    background: rgb(134, 134, 134);
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.asunto{
    height: 300px;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: 600;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 8px;
    border: 1px solid #aaa;
    box-sizing: border-box;
}
button, input [type="submit"] {
    padding: 12px 20px;
    background: #07cf11;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}
button{
    margin-left: 92%;
    margin-top: 8px;
}
    
@font-face {
    font-family: "Sarcolenta";
    src: url(./fotos/examen/Ficheros/Sarcolenta.ttf);
}